<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bank Transfer</title>
    </head>


    <body>
        <h1>Your account</h1>

        <h2>{{ name|safe }}</h2>

        <table>
		<tr>
		<th style="text-align:left" name="name">Username: <td>{{user.username}} 
		<tr>
		<th style="text-align:left" name="balance">Balance:  <td>{{user.account.balance}}
		</table>

        
        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
		
        <h2>Transfer money</h2>

        <form id='transfer' action='transfer/' method="POST">
            {% csrf_token %}
            <input type="hidden" name="from_id" value="{{ user.account.id }}">

            <span>To:</span>
            <br/>
            <input type="text" name="to"/>
            <br/>
            <span>Amount:</span><br/>
            <input type="number" name="amount"/><br/>
            <br/>
            <input type="submit" value="Transfer"/>
        </form>
    </body>


    </body>
</html>
