<h2>Login</h2>
<form method="post">
  {% csrf_token %}

  <!-- [FLAW 1]
       Manual form fields that sumbit raw data to a vulnerable backend view.
       This manual approach bypasses Django's built-in form validation
       and security features. -->
  {% if error %}
    <span>{{error}}<span/>
  {% endif %}

  <br/>
  <span>Username<span/>
  <br/>
  <input type="text" name="username" id="user_id"/>
  <br/>
  <span>Password<span/>
  <br/>
  <input type="password" name="password" id="passwd_id"/>
  <br/>

  <!-- [FIX 1]
       By using Django's built-in 'form' object with LoginView,
       we ensure that the inputs are handled, cleaned, and validated,
       according to secure defaults.

    {{ form.as_p }}
  -->

  <button type="submit">Login</button>
</form>


